.Generate-wrapper {
  grid-column-start: 2;
  grid-column-end: 7;
  color: #fff;
}

.Generate-wrapper > h1 {
  font-size: 52px;
  margin: 0;
  text-align: center;
}

.Generate-wrapper p {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.Generate-container {
  background-color: #fff;
  color: #34363E;
  display: grid;
  z-index: -1;
  margin-top: -27.5px;
  padding-bottom: 18px;
  border-radius: 20px;
  padding-top: 35px;
  grid-template-columns: 2fr 1fr;
}

.Generate-results {
  margin-left: 3%;
  margin-right: 18px;
}

.Generate-results > h1, .Generate-settings > h1 {
  margin: 0;
}

.Generate-settings {
  margin-right: 5%;
  border-left: solid 1px #D9DDE9;
  padding-left: 10px;
}

/* Mobile */
@media only screen and (max-width: 400px) {

}