.Generate-wrapper {
  grid-column-start: 2;
  grid-column-end: 7;
}

.Generate-header {
  color: #fff;
  font-size: 50px;
}

.Generate-container {
  grid-column-start: 2;
  grid-column-end: 7;
  background-color: #fff;
  display: grid;
  border-radius: 10px;
  position: relative;
  top: -27.5px;
  z-index: -1;
  padding-top: 27.5px;
}

/* Mobile */
@media only screen and (max-width: 400px) {

}