.Welcome-container {
  grid-column-start: 2;
  grid-column-end: 6;
  color: #fff;
  padding-top: 10%;
}

.Welcome-header {
  font-size: 64px;
  margin: 0;
}
.Welcome-text {
  margin: 0 0 10px 0;
  font-size: 36px;
}

.Signin-button {
  background-color: #fff;
  color: #34363E;
  font-size: 24px;
  border-radius: 40px;
  padding: 15px 30px 15px 30px;
  border-style: none;
  font-weight: 500;
  transition: background-color 200ms, color 200ms;
}

.Signin-button:hover {
  color: #fff;
  background-color: #34363E;
  cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  .Welcome-container {
    padding: 0px 12px 0px 12px;
    text-align: justify;
  }

  .Welcome-header {
    font-size: 30px;
    margin-bottom: 0;
  }

  .Welcome-text {
    font-size: 18px;
  }

  .Signin-container {
    grid-column-start: 1;
  }

  .Signin-button {
    font-size: 18px;
    width: 100%;
  }
}