body, html {
  background: linear-gradient(129deg, #A594EA, #829DFF);
  height: 10vw;
  background-repeat: repeat;
}

.Container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.App {
  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  .Container {
    display: grid;
    grid-template-columns: 1fr;
  }
}